<html>
    <head>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    </head>
    <body>
        <section class="top-bar">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-3">
                        <img src="./public/logo2.png" alt="" class="top-bar__logo"></img>
                    </div>
                    <div class="col-5 p-0 m-0">
                        <div class="top-bar__filter">
                            <input type="text" placeholder="Tìm kiếm sản phẩm" name="search">
                            <select name="category" id="category" placeholder="Phân loại sản phẩm">
                                <option value="device">Thiết bị y tế</option>
                                <option value="all">Phân loại sản phẩm</option>
                                <option value="medicine">Thuốc</option>
                            </select>
            
                            <button type="submit"><i class="fa fa-search fa-lg"></i></button>
                        </div>
                    </div>
                    <div class="col-1">
                        <ul class="top-bar__menu-icon">
                            <li><a href="#"> <img src="./public/heart.png" alt=""> </i></a></li>
                            <li><a href="#"><img src="./public/cart.png" alt=""></i></a></li>
                            <li><a href="#"><img src="./public/user.png" alt=""></a></li>
                        </ul>
                    </div>
            
                    <div class="col-2">
                        <div class="top-bar__my_account">
                            My Account
                            </br>
                            <a href="#">Đăng nhập</a>
                            <span>/</span>
                            <a href="#">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>